#film {
    margin-top: 10vh;
    width: 100vw;
    height: 100vh;
    background-color: #060606;
}

#film .film-left img:nth-child(1) {
     margin-top: 14vh;
     margin-left: 8vw;
     width: 24vw;
     height: auto;
     display: block;
}

#film .film-left img:nth-child(2) {
     width: 24vw;
     margin-top: 4vh;
     margin-left: 8vw;
}

#film .film-left img:hover {
 -webkit-filter: grayscale(0%);
 -webkit-transition: .4s ease-in-out;
 -moz-filter: grayscale(0%);
 -moz-transition: .4s ease-in-out;
 -o-filter: grayscale(0%);
 -o-transition: .4s ease-in-out;
} 

#film .film-left img {
 -webkit-filter: grayscale(100%);
 -webkit-transition: .4s ease-in-out;
 -moz-filter: grayscale(100%); 
 -moz-transition: .4s ease-in-out;
 -o-filter: grayscale(100%); 
 -o-transition: .4s ease-in-out;
}


 #film .film-right {
     padding-top: 14vh;
     padding-left: 2vw;
 }
/* 어디로 사라진건지...??? */

 #film .film-right .film-text p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1.5em;
 }


#film .film-right .portfolio-img img {
 width: 30vw;
 height: auto;
 margin-top: 20vh;
 margin-left: .5vw;
}

#film .film-right .portfolio-img span {
 margin-left: 22vw;
 margin-top: 2vh;
 font-family: Arial, Helvetica, sans-serif;
}
